@import '../_variable.scss';
page {
  height: 100%;
  background: #F4F4F4;
}
.header {
  position: relative;
  font-size:14px;
  margin-bottom: 12px;
  &.no-login {
    filter:blur(2px);
  }
  .user-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:12px 0;
    .user {
      display: flex;
      align-items:center;
      image {
        width: 140rpx;
        height: 140rpx; 
        border-radius: 50%;
      }
    }
  }
  .background-img {
    width:100%;
    height:180px;
    position: relative;
    box-sizing:border-box;
    z-index:1;
    overflow-y:hidden;
    image {
      width: 100%;
      height: 100%;
    }
  }
  .main-container {
    background: white;
    box-shadow:4rpx 8rpx 12rpx #ccc;
    padding:0 8px;
    border-radius:0 0 15rpx 15rpx;
    height: 270rpx;
    position:relative;
    z-index:-1;
  }
}

.bottom-container {
  font-size:28rpx;
  position: fixed;
  width: 100%;
  top: 220rpx;
  display: flex;
  flex-flow: column;
  .func-btn{
    height: 70px;
    border-radius:10px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-items: center;
    background:#c28b8b;
    > view {
      flex: 1;
      text-align:center;
      image {
        width: 25px;
        height: 25px;
      }
    }
  }
  .setting{
    background:white;
    padding: 0 10px;
    margin: 10px 10px; 
    border-radius:10px;
  }
  .bottom-des{
    margin-top: 100rpx;
  }
}
