@import '../_variable.scss';
.container{
    .top-image{
        height: 400rpx;
    }
    .input-container{
        display:flex;
        width:586rpx;
        margin:30rpx auto 0;
        padding-bottom:6rpx;
        border-bottom: 1rpx solid #F2F2F2;
        align-items: center;
        .input-image{
            width: 26rpx;
            height: 40rpx;
            margin-right: 20rpx;
        }
        .input{
            font-size: 28rpx;
            flex: 1;
        }
        .input-after{
            width: 160rpx;
            height: 45rpx;
            margin-left: 20rpx;
            padding: 0;
            background: linear-gradient(-225deg, $primaryColor 0%, $darkPrimaryColor 100%);
            color: #fff;
            font-size: 24rpx;
            line-height: 45rpx;
            text-align: center;
            border-radius: 30rpx;
            &:after{
                border: 0;
            }
        }
    }

    .forget-password{
        padding-top: 30rpx;
        font-size: 20rpx;
        color:  $primaryColor;
        text-align: right;
        width: 586rpx;
        margin: 0 auto;
    }

    .login-btn{
        height: 74rpx;
        width: 586rpx;
        margin: 30rpx auto 40rpx;
        line-height: 74rpx;
        color: #fff;
        font-size: 32rpx;
        text-align: center;
        border-radius: 30rpx;
        background: linear-gradient(-225deg, $primaryColor 0%, $darkPrimaryColor 100%);
    }
    .btn-disabled{
        background: #f1e3e3 !important
    }

}