@font-face {
  font-family: 'iconfont';
  /* Project id 2203375 */
  src: url('//at.alicdn.com/t/font_2203375_xpq4lophsg.woff2?t=1651985814611') format('woff2'),
    url('//at.alicdn.com/t/font_2203375_xpq4lophsg.woff?t=1651985814611') format('woff'),
    url('//at.alicdn.com/t/font_2203375_xpq4lophsg.ttf?t=1651985814611') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qianbi:before {
  content: "\ed19";
}

.icon-qianbao:before {
  content: "\ed22";
}

.icon-faxian:before {
  content: "\ed24";
}

.icon-shoucang:before {
  content: "\ed27";
}

.icon-biaoqian:before {
  content: "\ed28";
}

.icon-wenjian:before {
  content: "\ed29";
}

.icon-shezhi:before {
  content: "\ed2b";
}

.icon-edit:before {
  content: "\e724";
}

.icon-assets:before {
  content: "\e610";
}

.icon-top:before {
  content: "\e605";
}

.icon-bottom:before {
  content: "\eadf";
}

.icon-confirm:before {
  content: "\e613";
}

.icon-subtract:before {
  content: "\e961";
}

.icon-plus:before {
  content: "\e626";
}

.icon-delete:before {
  content: "\e66a";
}

.icon-tolist:before {
  content: "\e684";
}

.icon-bill-search:before {
  content: "\ea1d";
}

.icon-left:before {
  content: "\e62d";
}

.icon-prohibit:before {
  content: "\e66b";
}

.icon-weather-smog:before {
  content: "\e6ed";
}

.icon-weather-gale:before {
  content: "\e79c";
}

.icon-weather-shade:before {
  content: "\e6e5";
}

.icon-weather-small-rain:before {
  content: "\e6f3";
}

.icon-weather-rain-snow:before {
  content: "\e717";
}

.icon-eye-open:before {
  content: "\e608";
}

.icon-eye-close:before {
  content: "\e612";
}

.icon-list:before {
  content: "\e61b";
}

.icon-serach:before {
  content: "\e61d";
}

.icon-arrow-right:before {
  content: "\e600";
}

.icon-arrow-left:before {
  content: "\e601";
}

.icon-weather-cloudy:before {
  content: "\e624";
}

.icon-weather-sun:before {
  content: "\e603";
}

.icon-weather-thunderstorm-sun:before {
  content: "\eabc";
}

.icon-weather-sunny:before {
  content: "\eabd";
}

.icon-weather-thunderstorm-month:before {
  content: "\eadd";
}

.icon-weather-rain:before {
  content: "\eade";
}

.icon-weather-sunny-to-rain:before {
  content: "\e6f4";
}

.icon-edit-panel:before {
  content: "\e67f";
}

.icon-empty:before {
  content: "\e60f";
}

.icon-to:before {
  content: "\e60a";
}

.icon-edit-note:before {
  content: "\e6b2";
}

.icon-write:before {
  content: "\e633";
}

.icon-delete-note:before {
  content: "\e619";
}

.icon-xingzhuang_1:before {
  content: "\e609";
}