@import '../../_variable.scss';
page {
  height: 100%;
  background: #F4F4F4;
}
.header {
  position: relative;
  font-size:14px;
  .main-container{
    &.no-login {
      filter:blur(2px);
    }
    .user-section {
      padding: 10px 0px;
      height: 130rpx;
      background: white;
      box-shadow:4rpx 8rpx 12rpx #ccc;
      border-radius:0 0 15rpx 15rpx;
      display: flex;
      align-items: center;
      .user {
        display: flex;
        align-items:center;
        margin-left: 15px;
        image {
          width: 120rpx;
          height: 120rpx; 
          border-radius: 50%;
        }
      }
      .user-info{
        margin-left: 7px;
      }
    }
    .background-img {
      width:100%;
      height:180px;
      position: relative;
      box-sizing:border-box;
      z-index:1;
      overflow-y:hidden;
      image {
        width: 100%;
        height: 100%;
      }
    }
    .func-btn{
      height: 70px;
      border-radius:10px;
      margin: 15px 10px 10px 10px;
      display: flex;
      z-index: -1;
      align-items: center;
      justify-items: center;
      background:white;
      > view {
        flex: 1;
        text-align:center;
        image {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}

.bottom-container {
  font-size:28rpx;
  position: fixed;
  width: 100%;
  display: flex;
  flex-flow: column;
 
  .setting{
    background:white;
    padding: 0 10px;
    margin: 10px 10px; 
    border-radius:10px;
  }
  .bottom-des{
    margin-top: 100rpx;
  }
}

.login-message {
  position: absolute;
  top: 0;
  left: 0;
  height: 224px;
  z-index: 120;
  display: flex;
  align-items:center;
  justify-content: center;
  width:100%;
  .get-user-btn {
    background:#2196F3;
    color: white;
    font-size: 14px;
  }
  .continue {
    color: #999;
  }
}
